[Unit]
Description=ServoHack
After=mosquitto.service astprocd.service

[Service]
ExecStart=/usr/bin/servohack
User=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
