[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "sources/poky"]
	path = sources/poky
	url = git://git.yoctoproject.org/poky
[submodule "sources/meta-odroid-u3"]
	path = sources/meta-odroid-u3
	url = https://github.com/srobo/meta-odroid-u3.git
[submodule "sources/meta-srobo"]
	path = sources/meta-srobo
	url = https://github.com/srobo/meta-srobo.git
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = kirkstone
