[Unit]
Description=Boot Progress 40%
[Service]
Type=simple
ExecStartPre=/bin/bash -c "echo 5 > /sys/class/gpio/export"
ExecStartPre=/bin/bash -c "echo out > /sys/class/gpio/gpio5/direction"
ExecStart=/bin/bash -c "echo 1 > /sys/class/gpio/gpio5/value"

[Install]
WantedBy=basic.target
