[Unit]
Description=Astoria WiFi Daemon
Wants=astmetad.service
After=mosquitto.service dnsmasq.service

[Service]
ExecStart=/usr/bin/astwifid
User=root
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
