[Unit]
Description=Astoria Disk Manager Daemon
After=mosquitto.service udisks2.service

[Service]
ExecStart=/usr/local/bin/astdiskd
User=robot
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
